<h1 class="title">メモアプリ</h1>
<h2><%= @user %>のフォーム</h2>
<form action="/new" method="post">
  <div>
   <textarea name="article" rows="4" cols="40"></textarea>
  </div>
  <div>
    <button class="btn btn-primary" type="submit">保存</button>
  </div>
</form>

<p>投稿一覧<p>
<%= @article %>
<% @articles.each do |line| %>
  <p><%= line %></p>
<% end %>