<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf=8">
  <title>メモアプリ</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light d-flex justify-content-center">

    <h1><a href="/" class="log">メモアプリ</a></h1>
    <a href="/new"><button class="btn btn-secondary btn-top-new">追加</button></a>
  </nav>
  <%= yield %>
</body>

</html>