<div class="container form-new">
  <div class="row">
    <form action="/new" method="post">
      <div class="form-group col-md-12">
        <label for="title">タイトル</label>
        <input name="title" type="text" class="form-control" id="title">
      </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <label for="article">メモ</label>
      <textarea name="article" class="form-control txt-area" id="article"></textarea>
    </div>
    <div class="save-btn">
      <button class="btn btn-primary" type="submit">保存</button>
    </div>
    </form>
  </div>
</div>
