<div class="contents">
  <h1>書き込みました</h1>
  <h2><%= "タイトル： #{params[:title]}" %></h2>
  <h3><%= "内容： #{params[:article]}" %></h3>
  <a href="/">
    <button type="button" class="btn btn-outline-secondary">戻る</button>
  </a>
</div>
